name: Symfony CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run all test suites
      run: |
        chmod +x ./symfony/scripts/*.sh
        ./symfony/scripts/test-unit.sh
        ./symfony/scripts/test-integration.sh  
        ./symfony/scripts/test-functional.sh