name: Symfony CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ master ]

jobs:
  tests:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and test with Docker Compose
      run: |
        # Construir las imágenes
        docker-compose build
        
        # Ejecutar composer install durante el build o aquí
        docker-compose run --rm php-fpm composer install
        
        # Ejecutar los tests
        docker-compose run --rm php-fpm ./vendor/bin/phpunit tests/Unit
        docker-compose run --rm php-fpm ./vendor/bin/phpunit tests/Integration
        docker-compose run --rm php-fpm ./vendor/bin/phpunit tests/Functional